body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    color: #1098ad;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    background-color: #1098ad;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}

#occupation {
    padding: 5px;
    text-align: left;
    width: 100%;
}

#occupation option {
    font-size: 16px;
}